html {
  scroll-behavior: smooth;
}

#Blackberry {
  background-color: rgb(5, 6, 3);
  container: flex;
  padding: 10px;
  color: white;
}

#cherry {
  background-color: rgb(237, 0, 7);
  container: flex;
  padding: 10px;
  color: white;
}

#strawberry {
  background-color: rgb(185, 16, 18);
  container: flex;
  padding: 10px;
  color: white;
}

#Lychee {
  background-color: rgb(255, 121, 149);
  container: flex;
  padding: 10px;
  color: white;
}

.img {
  width: 350px;
  height: 250px;
  margin: 16px;
  align-self: center;
}

section {
  display: flex;
  margin: 10px;
}

div {
  text-align: center;
  align-self: center;
  margin: 16px;
}

#shopping {
  display: inline;
  margin: auto;
}

/*.flex_con {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 200px;
  height: 320px;
  justify-content: center;
}*/

.card {
  display: inline-block;
  width: 200px;
  height: 320px;
  background-color: rgba(241, 200, 233, 0.468);
  border-radius: 12px;
  border: 2px solid rgb(239, 204, 173);
  overflow: hidden;
  padding: 5px;
}

.card img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
  aspect-ratio: 8/5;
}

.card img:hover {
  opacity: 0.6;
}

footer {
  padding: 3px;
  background-image: linear-gradient(
      0deg,
      rgba(188, 198, 198, 0.5) 10%,
      rgba(237, 228, 236, 0.7) 57%
    ),
    url(https://mediavine-res.cloudinary.com/image/upload/s--DyrV-i5h--/c_limit,f_auto,fl_lossy,h_1080,q_auto,w_1920/v1657642853/gaofzvnkunex4447uifo.jpg);
  background-size: cover;
  min-height: 100px;
  position: relative;
}

.downcrumbs {
  position: absolute;
}
